nav{
    margin-top: $margin-top-default;

    @include respond(phone){
        display: none;
    }

    .nav__links{//this is the container
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        @include respond (tab-port){
            gap:1rem;
        }


        &__item{
            font-size: $default-font-size;
            
            list-style: none;

            border-radius: $border-radious-buttons;
            transition: all 0.4s;

         

            &__link{
                display: inline-block;
                padding-top: 1rem;
                text-decoration: none;
                font-family:'Montserrat';
                color: black;
                font-size: 2.3rem;
                font-weight: 300;

                padding-bottom: 1rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                border-radius: 1rem;
                transition: all 0.3s;

                &:hover{
                    background-color: $main-color;
                    transition: all 0.3s;
                }
                
                
                


            }
        }
    }
   
};

//NAV FUNCTIONALITY//

.selected-link{
    background-color: $main-color;
}