//mobile menu//
.mobile-menu{///THIS IS WHAT REPLACES NORMAL MEDIO WHEN MEDIA QUERY QUICKS IN
    visibility: hidden;
    opacity: 0;
    position: fixed;

    overflow: hidden;
   -webkit-overflow-scrolling: touch;

    
    
    @include respond(phone){
    visibility: visible;
    opacity: 1;
    position: fixed;
    top:0rem;
    overflow: hidden; 
    -webkit-overflow-scrolling: touch; ///this line is to avoid issue with IOS position fixed not working
    
    width: 100vw;
    background-color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 29;

    &__logo{
        height: 4rem;
        margin-left: 1rem;
    }
    &__icon{
        font-size: 4rem;
        margin-right: 1rem;
    }
}
   
};

///MODAL///

.mobile-menue-modal{
    position: fixed;
    background-color:$main-color;
    height: 100vh;
    width: 100vw;
    z-index: 50;

    visibility: hidden;
    opacity: 0;
   

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    -webkit-overflow-scrolling: touch; 
    
    
    &__close-button{
        position: absolute;
        top: 0.4rem;
        right: 0.8rem;
        z-index: 66;
        height: 4rem;
        width: 4rem;
    };

    &__container{



      &__item{
        margin-top: 2rem;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &__link{
            color: white;
            text-decoration: none;
            font-size: 3.5rem;

           
        }
      }
    }    
}

//functionaity//



.mobile-menue-visible{
    visibility: visible;
    opacity: 1;
    animation-name: circle-in-top-right;
    animation-duration: 1s;
};

.pollito{
    animation-name: circle-out-top-right;
    animation-duration: 1s;

}






 