.products{
    margin-top: $margin-top-default;
    margin-left: auto;
    margin-right: auto;
    height: 60rem;
    width: 100%;

    @include respond(tab-port){
        height: 40rem;
    }

    @include respond(phone){
        height: auto;
        overflow-x: hidden;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
   

    &__container{
        max-width:110rem;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap:1rem;

        @include respond(tab-land){
            max-width: 90rem;
        }

        @include respond (tab-port){
            max-width: 60rem;
        }

        @include respond (phone){  
            
            max-width: 60rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(8rem,1fr));
            
        }

        

        &__card{
            
            height: 35rem;
            width: 27rem;
            border-radius: .7rem;
            position: relative;
            box-shadow: 3px 3px 9px rgb(143, 143, 143);

            @include respond (tab-land){
                height: 30rem;
            }
            
            @include respond (tab-port){
                 height: 20rem;
            }

            @include respond (phone){  
               width: 10rem;
               z-index: 10;
            }

        
            &__img-container{
                background-color: white;
                height: 27rem;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem;
                border-radius: .5rem;
                @include respond (tab-land){
                    height: 22rem;
                }
                @include respond (tab-port){
                    height: 15rem;
                }
            }
        }
    }

}

.card-1{
    transform: rotate(20deg);
    background-color:rgb(222, 223, 202);
    transition: all 1s; 

    &:hover{
        @include card-hovering-state;
    }
}

.card-2{
    transform: rotate(15deg);
    background-color:rgb(222, 223, 202);
    transition: all 1s;
    &:hover{
        @include card-hovering-state;
    }
    
    
    
}
.card-3{
    transform: rotate(-10deg);
    background-color:rgb(222, 223, 202);
    transition: all 1s;
    &:hover{
        @include card-hovering-state;
    }
}
.card-4{
    transform: rotate(-20deg);
    background-color:rgb(222, 223, 202);
    transition: all 1s;
    &:hover{
        @include card-hovering-state;
    }
}
.card-5{
    transform: rotate(-15deg);
    background-color:rgb(222, 223, 202);
    transition: all 1s;
    &:hover{
        @include card-hovering-state;
    }
}

.product-img-1{
    background-image: url(/src/img/joulery/jy2.jpeg);
    background-position: center;
    background-size: cover;
}
.product-img-2{
    background-image: url(/src/img/clothes/cl6.jpeg);
    background-position: center;
    background-size: cover;
}
.product-img-3{
  
    background-image: url(/src/img/glasses/pexels-photo-975668.jpeg);
    background-position: center;
    background-size: cover;
}
.product-img-4{
    background-image: url(/src/img/shoes/shoes7.jpeg);
    background-position: center;
    background-size: cover;
}
.product-img-5{
    background-image: url(/src/img/watches/watch5.jpeg);
    background-position: center;
    background-size: cover;
}