.video-section{
    margin-top:10rem;
    
    height: 60rem;
    width: 100%;
    background-color: rgb(0, 0, 0);

    
    @include respond(tab-land){
            height: 40rem;
    }

    @include respond(tab-port){
        height: 30rem;
    }
    @include respond(phone){
        height: 20rem;
        margin-top:7rem;
    }


    &__video-container{
       
        max-width: 200rem;
        height: 100%;

        margin-left: auto;
        margin-right: auto;
        position: relative;

        &__video{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            opacity: .9;
            overflow: hidden;
            object-fit: cover;
        };
    }

}