///SLIDER ANIMATIONS///

@keyframes move-to-right{
    0%{transform: translateX(0%);
    z-index: 1;}
    100%{transform: translateX(100%);
    z-index: 1;}
}

.move-to-right{
    animation-name: move-to-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes move-to-left{
    0%{transform: translateX(0%);
    z-index: 1;
    }
    100%{transform: translateX(-100%);
    z-index: 1;}
}

.move-to-left{
    animation-name: move-to-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}


@keyframes bring-from-left{
    0%{transform: translateX(-100%);
    z-index: 1;
    }
    100%{transform: translateX(0%);
    z-index: 1;}
}

.bring-from-left{
    animation-name: bring-from-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}


@keyframes bring-from-right{
    0%{transform: translateX(100%);
    z-index: 1;
    }
    100%{transform: translateX(0%);
    z-index: 1;}
}

.bring-from-right{
    animation-name: bring-from-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.spin-animation{
animation-name: spin;
animation-duration: 120s;
animation-timing-function: linear;
animation-iteration-count: infinite;

}

@keyframes move-to-right-for-van{

    0%{
        transform: translateX(0rem);
    }

    100%{
        transform: translateX(30rem);
    }

};

@keyframes move-to-right-for-van-short{

    0%{
        transform: translateX(0rem);
    }

    100%{
        transform: translateX(10rem);
    }

};


@keyframes hero-text-animation{
    0%{
        text-shadow:2px 2px 10px grey;
    }

    50%{
        text-shadow:4px 4px 20px rgb(255, 255, 255);
    }
    100%{
        text-shadow:2px 2px 10px grey;
    }

};

//ANIMATIONS FOR MOBILE MENUE///

@keyframes circle-in-top-right {
    from {
        clip-path: circle(0% at top right);
    }
    to {
      clip-path: circle(125%);
    }
}

@keyframes circle-out-top-right {
    0% {
        visibility: visible;
        opacity: 1;
        clip-path: circle(125%);
      
    }
    99% {
        visibility: visible;
        opacity: 1;
        clip-path: circle(0% at top right);
      
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }

}
  
