
//COLORS///

$main-color: rgb(155, 79, 139);//this color matched the logo//
$main-color-dark: rgb(139, 63, 123);//this color matched the logo//
$main-color-light: rgb(165, 115, 154);//this color matched the logo//

///fonts///
  $default-font-size:2rem; //nav//



///SPACING///
 $margin-top-default:2rem;

 //border radios//

 $border-radious-buttons:0.7rem;